*{
    font-size: 1.5rem;
}

header{
    background-color: rgb(96, 27, 143);
    width: auto;
    height:200px;

}

main{
    display: flex;
    background-color: rgb(246, 255, 127);
    width: auto;
    height:600px;

}


footer{
    background-color: rgb(255, 127, 238);
    width: auto;
    height:200px;

}

.cuadro{
    display: inline-block;
    background-color: rgb(39, 19, 19);
    width: auto;
    height:600px;

}
