.cuadro{
    background-color: aqua;
    height: 150px;
    width: 150px;

    /*margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 30px;
    margin-left: 40px;*/

    padding: 50px 40px 30px 20px;

    margin: 50px 40px 30px 20px;

    border: 10px solid yellowgreen;

}
.el-1{
    background-color:blue; 
   /* position: fixed;
    bottom: 0;
    right: 0;*/
    position: sticky;
    top: 0;
}


.el-2{
    background-color:violet; 
   /* position: absolute; 
    top: 200px; 
    right: 200px; */
    
}

.el-3{
    background-color:red; 
   /* position: relative; 
    bottom: 200px; 
    left: 200px;*/
}

.el-4{
    background-color:yellow; 
    position: static;
}

.el-5{
    background-color:palevioletred; 
    position: static;
}
