.cuadro-padre{

    background-color: coral;

    height: 600px;

    display: flex;

    flex-direction: row;
    /*Nos permite alinear en horizontal*/
    /*Recuerden a word*/
    justify-content: space-around;

    /*nos permite alinear en vertical */
    align-items:center;
    
}

.cuadro{
    height: 100px;
    width: 100px;
    padding: 50px 40px 30px 20px;
    margin: 50px 40px 30px 20px;
    border: 10px solid yellowgreen;
    border: radius 10px 20px 30px 40px;

}
.el-1{
    background-color:blue; 
    align-self: flex-start;
    flex-grow: 20;
}

.el-2{
    background-color:violet; 
    flex-grow: 1;

}

.el-3{
    background-color:red; 
    align-self: flex-end;
    flex-grow: 1;

}

.el-4{
    background-color:yellow; 
    flex-grow: 10;

}

.el-5{

    /*background-color:palevioletred; 
    position: static;
    flex-grow: 1;*/

}
     /* -------Instrucciones a Bootstrop -----*/

.contenedor{
    height: 200px;    
    background-color: mediumorchid;
    max-width: 1500px;
    margin: 0 auto;

}
.fila{
    display: flex;

}

.columna{
    flex-grow: 1;
}

.color-rojo{
background-color: red;

}
