.img-corousel{
 height: calc(58vh - 76px);
 object-fit: cover;
}

.img-carta{

    height: 200px;
    object-fit: cover;
}

@media(max-width: 992px){
body{
    background-color: blue;
}

}

.caja{
 position: relative;
top: -60px;;

}

